.Footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    padding: 1rem;
    z-index: 1000;
}

.ft-1 p {
    margin-top: 2rem;
    padding-right: 10rem; /* Ajusta el margen izquierdo */
    color: #ffffff;
}

.footer-icons {
    margin: 0;
    text-align: right;
    padding-left: 12rem; /* Ajusta el margen derecho */
    margin-bottom: 1rem;
}

.footer-icons i {
    padding: 0.4rem 0.5rem;
    background: #e1e1e1;
    color: #000000;
    margin: 0 0.5rem;
    border-radius: 50%;
}

.footer-icons i:hover {
    background: #a4a4a4;
    color: #fff;
    transition: 0.6s;
    cursor: pointer;
}

.Footer h5 {
    color: #ffffff;
    padding-left: 28rem;
    padding-bottom: 1rem;
}

.ft-3 p {
    font-weight: 500;
    padding: 0.1rem 0;
    font-size: 1.06rem;
}

.ft-3 i {
    padding-right: 0.5rem;
}

