#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


main {
  flex: 1;
}

.main-content {
  padding-top: 4rem; /* Ajusta este valor según la altura de tu navbar */
  padding-bottom: 100px; /* Ajusta este valor según la altura de tu footer */
}


body {
  background-color: #fff;
  color: #000;
}

.navbar-light {
  background-color: #f8f9fa;
}

.navbar-light .navbar-brand,
.navbar-light .nav-link {
  color: #000;
}

/* Tema Oscuro */
[data-theme='dark'] body {
  background-color: #121212;
  color: #ffffff;
}

[data-theme='dark'] .navbar-dark {
  background-color: #343a40;
}

[data-theme='dark'] .navbar-dark .navbar-brand,
[data-theme='dark'] .navbar-dark .nav-link {
  color: #ffffff;
}

